﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
      <h1>Proyectos Software Angie</h1> 
        <p>Angie Tatiana Calderon</p> 
        <p>tati1694@hotmail.com</p>
        <p>313 832 0557</p>
        <p>017 2009 458</p>
    </div>
</body>
</html>
